body {
    background-color: black;
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Comic Sans MS', cursive;
    margin-top: 0;
}

header {
    font-size: 60px;
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
    border-bottom: double 5px rgb(223, 7, 223);
   text-aling: center;
}

p { 
    font-size: 20px;
    text-align: center;
}

iframe, video {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 70px;
}